<header>
  <img 
    src="https://github.com/robson-gds.png" 
    alt="Robson Gomes - foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  >
  <h1>Robson Gomes</h1>
</header>

<aside>
  <div class="container">
    <p>São Paulo, São Paulo, Brasil</p>
    <p>Full-Stack Java | React | Angular</p>
    <p>
      Desenvolvedor fullstack especializado em Java, ReactJS, Angular, Javascript e Typescript. 
      Estou sempre em busca de desafios que me permitam aprimorar minhas habilidades e contribuir para projetos significativos. 
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pd/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/robsongds/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img 
          src="assets/icons/whatsapp.svg" 
          alt="Icone para contato no whatsapp"
          width="22px"
          height="24px"
        >

        <figcaption>
          <a 
            href="https://api.whatsapp.com/send?phone=5511xxxxxxxxx&text=Ol%C3%A1%20Robson,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (11) x xxxx-xxxx</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:robson@email.com.br" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>robson&#64;email.com.br</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>